.body-dashboard {
  // background-color: white;
  .dashboard-title {
    margin: 0.2rem;
    font-size: 18px;
  }
  .dashboard-link {
    margin: 0.2rem;
    color: blueviolet;
    font-size: 14px;
  }
}